.main{ display: flex;}

.left{
    flex: 0.5;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}

.right{
    flex:  0.5;
}

.left h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:xx-large;
    margin-bottom: 30px;
    margin-left: 20px;
    color: #407BFF;
}


.left p{
    font-family:sans-serif;
    margin-left: 20px;
  
}